header{
    height: 5rem;
    display: inline-flex;
    width: auto;
}
.tarotlogo{
    width: 50px;
    height: 50px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    
}
.header_buttons{
   display: inline-block;
   border-style: solid;
   border-color: #550303;
   background-color: whitesmoke;
   border-radius: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #550303;
   border-width: 2px;
width: max-content;
margin-right: 2rem;
padding: 5px 15px 5px 15px;
}
.header_buttons:hover{
    color: goldenrod;

}
header .header_search{
    display:inline-block;
    width: 300px;
    height: 20px;
    border: none;
    outline: none;
    margin-top: 1rem;
    margin-left: 15rem;
    border-radius: 2rem;
}
header .header_search:hover{
    box-shadow: 0 1px 7px 0px #120230;
}
header .header_search_go{
    height: 36px;
    background-color:aliceblue;
    border: 0 5px 0 0;
    border-color:#0e0224;
    font-size: 14px;
    color:#550303;
    border-radius: 6px;
    padding: 0 15px;
    margin-right: 15px;
}
header .header_search_go:hover{
    box-shadow: 0 1px 10px 0px #0e0224;
}

.fondo1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
  }

  body{
    background-color: #0F2E5C;
  }

.buttonSearch{
    border-style: solid;
    border-color: #550303;
    background-color: whitesmoke;
    border-radius: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #550303;
    border-style:solid;
    padding: 0.2em;
    font-size: large;
    margin-left: 39%;

}

.containerBody{
    color: whitesmoke;
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

footer{
    color: whitesmoke;
}